* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/*body*/
body{
    /* background: rgb(238,174,203);
    background: radial-gradient(circle, rgba(238,174,203,1) 0%, rgba(148,163,233,1) 100%); */
    
background: rgb(111,94,14);
background: linear-gradient(90deg, rgba(111,94,14,1) 0%, rgba(38,128,132,1) 50%, rgba(125,212,176,1) 69%);

}
/* header */
header{
    background-color: #847626;
    padding-left: 1.5rem;
    color:bisque;
    display: flex;
    gap: 1rem;
    padding-left: 1rem;
}
.blog
{
    padding-top: 1rem;
}
/* main */
main{
   
}
.container
{
    display: flex;
    flex-flow: row wrap;
}
.left
{
    /* background: rgb(238,174,203); */
    /* background-color: rgba(125,212,176,1); */
    padding-left: 4rem;
    padding-top: 4rem;
    width: 20%;
}
.left a{
    text-decoration: none;
    color:bisque;
    width: 20rem;
}
.left a:hover{
    text-decoration: underline;
}
.left ul{
    list-style: none;
    font-size: 1.7em;
}
.left li{
    padding-bottom: 5rem;
}
.right
{
    margin-top: 4rem;
    max-width: 80rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.right img{
    max-width: 100%;
    height: auto;
}
.right h1
{
    color:bisque;
    font-size:3rem;
    /* padding-bottom: 1rem; */
}
.right h2
{
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: antiquewhite;
}
.bloggroup
{
    display: flex;
    gap: 1rem;
}
.right p{
    padding-bottom: 1.5rem;
    color: aliceblue;
}
.para
{
    color: antiquewhite;
    font-size: 0.8em;
}
.right h3{
    padding-bottom: 2rem;
    color: antiquewhite;
}
.right ul a{
    text-decoration: none;
    list-style: none;
    color: aliceblue;

}
.right ul a:hover{
    text-decoration: underline;
} 
.contact h2
{
padding-bottom: 3rem;
color: bisque;
font-size: 2rem;
}
.contact p{
    color:aliceblue;
}
/* footer */
footer{
    background-color: #847626;
    color:bisque;
}
footer .img{
    display: flex;
    align-items: center; 
    justify-content: center;
    padding-bottom: 1rem;
    padding-top: 2rem;
}
footer p{
    display: flex;
    align-items: center; 
    justify-content: center;
    padding-bottom: 2rem;
}
@media only screen and (max-width: 1024px) {
    .bloggroup
        {
            flex-flow: wrap;
        }
  }