* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/*body*/
body{
    background: rgb(111,94,14);
    background: linear-gradient(90deg, rgba(111,94,14,1) 0%, rgba(38,128,132,1) 50%, rgba(125,212,176,1) 69%);
}
/* header */
header{
    background-color: #847626;
    padding-left: 1.5rem;
    color:bisque;
    display: flex;
    gap: 1rem;
    padding-left: 1rem;
}
.blog
{
    padding-top: 1rem;
}
/* main */
main{
   
}
.container
{
    display: flex;
    flex-flow: row wrap;
}
.left
{
    /* background: rgb(238,174,203); */
    /* background-color: rgba(125,212,176,1); */
    padding-left: 4rem;
    padding-top: 4rem;
    width: 20%;
}
.left a{
    text-decoration: none;
    color:bisque;
    width: 20rem;
}
.left a:hover{
    text-decoration: underline;
}
.left ul{
    list-style: none;
    font-size: 1.7em;
}
.left li{
    padding-bottom: 5rem;
}

.right
{
    margin-top: 4rem;
    max-width: 80rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.right img{
    max-width: 100%;
    /* height: auto; */
}
.right h1
{
    font-size: 3rem;
    color:bisque;
    padding-bottom: 2rem;
}
.right h2{
    padding-bottom: 1rem;
    color: bisque;
}
.contact h2
{
    color: bisque;
padding-bottom: 2rem;
font-size: 2rem;
}
.contact p{
    color:aliceblue;
    padding-bottom: 1rem;
}
.gallery
{
    display: flex;
    flex-flow: row wrap;
    gap:2rem;
    margin-bottom: 2rem;
}
.gallery img
{
    transition: all 1s;
}
.gallery img:hover
{
    transform: scale(1.1);
}
/* footer */
footer{
    background-color: #847626;
    color:bisque;
}
footer .img{
    display: flex;
    align-items: center; 
    justify-content: center;
    padding-bottom: 1rem;
    padding-top: 2rem;
}
footer img{
    
}

footer p{
    display: flex;
    align-items: center; 
    justify-content: center;
    padding-bottom: 2rem;
}